{% extends "base.html" %}

{% block main %}


  <form method="get" class="d-flex justify-content-center  py-2 mb-5" action="{% if all_thoughts %}{% url 'ThoughtListView' %}{% elif my_thoughts %}{% url 'MyThoughts' %}{% endif %}">
    <input class="form-control me-2 w-50 search-bar" type="search" name="search" {% if request.GET.search %} value="{{ request.GET.search }}" {% endif %} placeholder="Enter Title" aria-label="Search">
    <button class="btn btn-dark" type="submit">Search</button>
</form>



<div class="container mt-5">
    <div class="row">
        {% for thought in object_list %}

        <div class="col-md-4 mb-4">
            <div class="card" style="height: 370px; width:358px ;">
                {% if thought.img %}
                <img src="{{ thought.img.url }}" alt='No img' class="card-img-top" width="300" height="250">
                {% else %}
               <p style="height: 250px; width: 300px;"> {{ thought.content }} </p>
               {{ object_list.Flag }}

                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ thought.title }}</h2>
                    <a href="/thought/ThoughtDetailView/{{ thought.id }}" class="btn btn-primary">View Details</a>
                </div>
            </div>            
        </div>

        {% endfor %}
    </div>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?page=1"> first</a>
            <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">last</a>
        {% endif %}
    </span>
</div>
</div>



{% endblock main %}


