{% extends "base.html" %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        {% for thought in object_list %}
        {% comment %} {% if not thought.is_private %} {% endcomment %}
        <div class="col-md-4 mb-4">
            <div class="card" style="height: 370px; width:358px ;">
                {% if thought.img %}
                <img src="{{ thought.img.url }}" alt='No img' class="card-img-top" width="300" height="250">
                {% else %}
               <p style="height: 250px; width: 300px;"> {{ thought.content }} </p>

                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ thought.title }}</h2>
                    <a href="/thought/ThoughtDetailView/{{ thought.id }}" class="btn btn-primary">View Details</a>
                </div>
            </div>
            
        </div>
        {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
    </div>
</div>
{% endblock main %}


