{% extends "base.html" %}
{% block main %}


  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Share Thought</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Share</button>
                <a href="{% url 'ThoughtDetailView' thought.pk %}" class="btn btn-secondary">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock main %}

