{% include "header.html" %}
{% block main %}

<header id="header">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5 img-div">
                <img src="./img/round.png" class="round-img" alt="">

            </div>

            <div class="col-sm-12 col-md-12 col-lg-7 mt-5 text-light" id="right">
                <h3 class="we-bring">WE BRING ALL THOUGHTS ON</h3>
                <h1 class="onepage">ONE PAGE</h1>
                <h3 class="we-bring">Explore the WORDLD now!</h3>
                <p class="col-sm-12 col-md-12 col-lg-8 pt-3 header-text">Discover a world of diverse thoughts and ideas
                    all in one place. Our platform brings together the collective wisdom, creativity, and insights of
                    individuals from around the globe.</p>
            </div>
        </div>

    </div>
        
</header>

{% endblock main %}
{% include "footer.html" %}